<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Create hero</title>
</head>
<body>
	<a href="/dashboard">Dashboard</a>
	<a href="/heroes">Heroes</a>
	<a href="/create">Create hero</a>
	<h1>Create hero</h1>
	<form action="/create" method="post">
		<label for="name">name</label><br>
		<input type="text" name="name"><br>
		<label for="score">score</label><br>
		<input type="text" name="score"><br>
		<button>Send</button>
	</form>
</body>
</html>